:root {
  --bg-color: #faf3df;
  --main-color: #414e32;
  --button-color: #d15385;
  --button-shadow: #798a65;
  --primary-font: 'SN Pro', sans-serif;
  --secondary-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

.container {
  background-color: transparent;
  padding-bottom: 48px;
}

.container h1 {
  font-family: var(--primary-font);
  font-size: 4rem;
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
  letter-spacing: 0.5%;
  padding-bottom: 56px;
}

/* SEÇÃO 1 - SOBRE */
.secao1 {
  margin-left: 6.75rem;
  margin-right: 5.5rem;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
}

.secao1 p {
  width: 33.875rem;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--main-color);
}
.secao1 img {
  width: 479px;
}
/* -------- */

/* SEÇÃO 2 - COMO FUNCIONA */
.secao2 {
  display: block;
  max-width: 100%;
  position: relative;
}

#secundaria h1 {
  margin-left: 6.75rem;
  margin-right: 5.5rem;
  text-align: start;
  font-weight: 700;
  height: cover;
  padding-bottom: 22px;
}
#textoSecao2 {
  width: 1078px;
  margin-left: 6.75rem;
  margin-right: 5.5rem;
  font-family: var(--secondary-font);
  color: var(--main-color);
  font-size: 1.5rem;
  letter-spacing: 5%;
  padding-bottom: 50px;
}

#comoFunciona {
  border-top: 2px solid var(--button-color);
  border-bottom: 2px solid var(--button-color);
  margin: auto 0px;
  height: 421px;
  width: 100vw;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 0rem 6.75rem;
  padding-top: 51px;
  padding-bottom: 51px;
  padding-left: 6.75rem;
  padding-right: 5.5rem;
}

#imagem2 {
  background-color: transparent;
  width: 415px;
}

.passoAPasso {
  width: cover;
  margin-right: 5.5rem;
  height: 252px;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 75px;
  padding-right: 131px;
}

.passo {
  background-color: transparent;
  height: 116px;
}

.passo img {
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

.passoAPasso p {
  background-color: transparent;
  width: 248.5px;
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  color: var(--bg-color);
  text-align: center;
}

.buscar {
  justify-self: center;
  grid-column-start: 2;
  background-color: transparent;
  padding-right: 200px;
}

#bpro {
  width: 306px;
  height: 41px;
  border-radius: 20px;
  border: 2px solid #798a65;
  font-family: SN pro;
  font-size: 1.5rem;
  font-weight: 700;
  color: #faf3df;
  background-color: #d15385;
  box-shadow: #798a65 3px 3px;
  text-align: center;
}

#bpro:hover {
  border: 2px solid #d15385;
  background-color: #798a65;
  box-shadow: #d15385 3px 3px;
}

/* -------- */
